<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="userDictionary" value="高考英语3500词;"/>
    <add key="markStopwords" value="false"/>
    <add key="markPunctuations" value="false"/>
    <add key="markCardinalNumbers" value="false"/>
    <add key="markComparativesAndSuperlatives" value="false" />
  </appSettings>
</configuration>